.header{
    color: rgb(3, 30, 54);
    font-size: 180%;
    display: block;
    font-family: fantasy;
    margin: auto;
    width: 50%;
    padding: 10px;
}
form{
    display: block;
}
body{
    background-color: dimgrey;
}
h1{
    text-align: center;
    font-family: fantasy;
}
.links{
    text-align: right;
    font-size: small;
}
.links1{
    text-align: left;
    font-size: small;
}
#espacioh{
    width: 1480px;
    height: 30px;
}
#espaciob{
    color: white;
    width: 1480px;
    height: 185px;
}
#espacioa{
    width:1920px;
    height: 100px;
    text-align: left;
    font-family: fantasy;
    color: rgb(1, 109, 211);
}
#adse{
    font-family: fantasy;
    text-align: left;
    padding: 5px;
    margin: 15px 30px;
}
.round{
    margin: auto;
    color: silver;
    width: 35%;
    border-radius: 100px;
    border: 1px #000 solid;
    padding: 15px 5px 5px 85px;
    display: block;
    border-width: thick;
    border-color: rgb(3, 30, 54);;
    top: 0;
    right: 50;
    background-image: url('fondo.jpg');
}
.babajo{
    position: relative;
    color: rgb(3, 30, 54);
    top: 20px;
    font-size: medium;
    width: 150px;
    height: 25px;
    right: -2%;
    display: inline-block;
    font-family: fantasy;
}
.babajoi{
    position: relative;
    color: rgb(3, 30, 54);
    font-size: medium;
    width: 150px;
    height: 25px;
    margin: auto;
    top: 25px;
    display: block;
    text-align: center;
    font-family: fantasy;
}
  .wbg {
    background-image: url('fondo.jpg');
  }